* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}


.image-side {
    flex: 1;
    background: url('../images/blogs/bg.jpg') no-repeat center center/cover;
}

.image-side img {
    display: none;
}

/* FORM SIDE */
.form-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
}

.form-box {
    width: 350px;
}

.form-box h2 {
    margin-bottom: 20px;
}

/* INPUT */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}