.sidebar {
width: 250px;
height: 100vh;
background-color: #1e293b;
color: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
position: fixed;
left: 0;
top: 0;
}

.sidebar-top {
padding: 20px;
text-align: center;
border-bottom: 1px solid #334155;
}

.logo {
font-size: 20px;
font-weight: bold;
}

.menu {
list-style: none;
padding: 20px 0;
}

.menu li {
padding: 10px 20px;
}

.menu li a {
color: #cbd5f5;
text-decoration: none;
display: block;
}

.menu li a:hover {
background-color: #334155;
border-radius: 5px;
}

.sidebar-bottom {
padding: 20px;
border-top: 1px solid #334155;
}

.user-name {
display: block;
margin-bottom: 10px;
font-size: 14px;
}

.logout-btn {
width: 100%;
padding: 8px;
background-color: #ef4444;
border: none;
color: #fff;
cursor: pointer;
border-radius: 5px;
}

.logout-btn:hover {
background-color: #dc2626;
}
.main-content {
    margin-left: 250px; /* même largeur que sidebar */
    padding: 20px;
}